extends ../default.pug
block pageContent
  include ../templates/header.pug
  main.main
    include ../templates/banner.pug
    include ../templates/speaker.pug
    include ../templates/news.pug
    include ../templates/obj.pug
    include ../pages/contacts.pug
  include ../templates/footer.pug   