section.banner.section
  .banner__wrapper
    .container-fluid
      .row
        .col-md-12
          .row-flex.banner__header
            p.banner__name АЛЕКСЕЙ ЛАТЕНКО
            a(href='tel:+380(066)3455477').banner__tel +380 (66) 345 54 77
          .row-flex.banner__body
            p.banner__text 2-3 ФЕВРАЛЯ
              br
              | КИЕВ
              br
              | 02.02.18 ТРЕНИНГ
              br
              | 2500 &#8372;
              br
              | 03.02.18
              br
              | ИГРА
              br
              | 1500 &#8372;
              br
              | Тренинг + игра
              br
              | 3500 &#8372;
            .banner__main
              
              p.banner__main-header ТРЕНИНГ
              h1.banner__title ФИНАНСОВОЕ
                br 
                | БЛАГОПОЛУЧИЕ
                .banner__main-wrapper
            .banner__text.banner__text-align 9-10 ФЕВРАЛЯ
              br
              | РИГА
              br
              | 09.02.18 ТРЕНИНГ
              br
              | 70 &euro;
              br
              | 10.02.18
              br
              | ИГРА
              br
              | 50 &euro;
              br
              | Тренинг + игра
              br
              | 100 &euro;
          .row-flex.banner__footer
            button.button.button_main ОСТАВИТЬ ЗАЯВКУ
