footer.footer
  .container-fluid
    .footer__text Наши контакты: info@monastic.group, +380 (66) 345 54 77 (Украина)
  <div class="modal">
  <div class="modal__body">
    <p class="modal__text">Спасибо за регестрацию</p>
    <button class="button button_main" id="send_end">Закрыть</button>
  </div>
</div>
