header.header
  .container-fluid
    .row-flex.header__row
      a(href='#')
        img.header__logo(src="../../img/logo.png", alt="Logo")
      nav.nav
        ul.list.header__list
          li.list__item.header__item
            a(href='#')#speaker-nav.list__link.header__link cпикер
          li.list__item.header__item
            a(href='#')#news-nav.list__link.header__link что узнаете
          li.list__item.header__item
            a(href='#')#obj-nav.list__link.header__link цели
          li.list__item.header__item
            a(href='#')#contacts-nav.list__link.header__link контакты
          li.list__item.header__item
            a(href='#')#form-nav.list__link.header__link оставить заявку