section.news.section#news
  img(src='../../img/bg-top.png').news__wave.news__wave-top
  .container-fluid
    .row
      .col-md-12
        h2.news__title что вы узнаете?
    .row
      .col-md-6
        div.news__box
          span(data-numb='01').news__text финансовое благополучие
        div.news__box
          span(data-numb='02').news__text Тест для определения уровня своей Финансовой Ситуации и точек роста
        div.news__box
          span(data-numb='03').news__text Финаносвый интеллект
          span.news__subtext из чего он состоит и как его развивать?
        div.news__box
          span(data-numb='04').news__text Колесо Жизненного Баланса
          span.news__subtext что необходимо для гармонии, и как в этом помогут ваши доходы.
        div.news__box
          span(data-numb='05').news__text Формула Счастья
          span.news__subtext как получать удовольствие от жизни без переживаний.
      .col-md-6
        div.news__box
          span(data-numb='06').news__text Страхи и финансовые ограничители. 
          span.news__subtext Что мешает вам получать достойные доходы?
        div.news__box
          span(data-numb='07').news__text Аудит. 
          span.news__subtext Считаем Доходы, Расходы, Активы и Пассивы.
        div.news__box
          span(data-numb='08').news__text Определяем основные показатели Личных Финансов: 
          span.news__subtext Денежный Поток и Финансовый Капитал
        div.news__box
          span(data-numb='09').news__text Дракоша. Эмоциональные покупки.

        div.news__box
          span(data-numb='10').news__text Сколько вы стоите? 
          span.news__subtext Делаем расчет стоимости вашего часа рабочего времени.
      .col-md-12.align-center
        button.button.button_main ОСТАВИТЬ ЗАЯВКУ
  img(src='../../img/bg-bot.png').news__wave.news__wave-top
      //-   div.news__box
      //-     span.news__number 02
      //-     span.news__text Тест для определения уровня своей Финансовой Ситуации и точек роста
      //-   div.news__box
      //-     span.news__number 03
      //-     div.news__wrap
      //-       span.news__text Финансовый Интеллект
      //-       span.news__subtext из чего он состоит и как его развивать?
      //-   div.news__box
      //-     span.news__number 04
      //-     span.news__text финансовое благополучие
      //-   div.news__box
      //-     span.news__number 05
      //-     span.news__text финансовое благополучие
      //- .col-md-6
      //-   div.news__box
      //-     span.news__number 06
      //-     span.news__text финансовое благополучие
      //-   div.news__box
      //-     span.news__number 07
      //-     span.news__text финансовое благополучие
      //-   div.news__box
      //-     span.news__number 08
      //-     span.news__text финансовое благополучие
      //-   div.news__box
      //-     span.news__number 09
      //-     span.news__text финансовое благополучие
      //-   div.news__box
      //-     span.news__number 10  
      //-     span.news__text финансовое благополучие
        
        