section.obj.section#obj
  .container-fluid
    h2.section__title Цели
    .row-flex.obj__row
      .obj__box
        .obj__wrap 
          img(src='../../img/o1.png' alt ='img').obj__img
        .obj__title аудит
        .obj__text Где я нахожусь по отношению к Личным Финансам
      .obj__box
        .obj__wrap 
          img(src='../../img/o2.png' alt ='img').obj__img
        .obj__title цель
        .obj__text Где я нахожусь по отношению к Личным Финансам
      .obj__box 
        .obj__wrap
          img(src='../../img/o3.png' alt ='img').obj__img
        .obj__title путь
        .obj__text Как я могу достигнуть цели? 
      .obj__box 
        .obj__wrap
          img(src='../../img/o4.png' alt ='img').obj__img
        .obj__title Определим 
        .obj__text Ограничивающие убеждения в области финансов и как их изменить
      .obj__box 
        .obj__wrap
          img(src='../../img/o5.png' alt ='img').obj__img
        .obj__title Как правильно
        .obj__text Организовать свое рабочее и личное время, и стать более эффективным
      .obj__box 
        .obj__wrap
          img(src='../../img/06.png' alt ='img').obj__img
        .obj__title Как быть счастливым
        .obj__text и гармоничным, и сколько денег для этого необходимо
      .obj__box 
        .obj__wrap
          img(src='../../img/o7.png' alt ='img').obj__img
        .obj__title Упражнение КОМЯ
        .obj__text возможность создания дополнительного дохода
      .obj__box 
        .obj__wrap
          img(src='../../img/o8.png' alt ='img').obj__img
        .obj__title Мышление
        .obj__text которое поможет перейти на новый уровень Финансового Благополучия
      .obj__box 
        .obj__wrap
          img(src='../../img/09.png' alt ='img').obj__img
        .obj__title Духовные законы
        .obj__text и их применение в реальной жизни
      .obj__box 
        .obj__wrap
          img(src='../../img/o10.png' alt ='img').obj__img
        .obj__title Мышление
        .obj__text которое поможет перейти на новый уровень Финансового Благополучия
      .obj__box 
        .obj__wrap
          img(src='../../img/o11.png' alt ='img').obj__img
        .obj__title Мышление
        .obj__text которое поможет перейти на новый уровень Финансового Благополучия
    .row-flex.obj__footer
      button.button.button_main ОСТАВИТЬ ЗАЯВКУ