section.section.speaker#speaker

  .container-fluid
    .row
      .col-md-12
    h2.section__title спикер
    .speaker__wrapper
      .row
        .col-md-3
          .speaker__avatar
            img(src='../../img/avatar.png' alt='avatar').img-responsive
        .col-md-9
          .speaker__name АЛЕКСЕЙ ЛАТЕНКО
          p.speaker__position бизнес-тренер
          p.speaker__text 
            strong Предприниматель, 
            | бизнес-тренер. Эксперт №1 в создании и проведении тренинг-игр по развитию мышления и перезапуску финансовой программы.
        .col-md-12
          p.speaker__text 
            strong С 2005 года - сертифицированный тренер, 
            | с 2007 года - тренер личностного роста. Провел более 400 тренингов и семинаров, более 200 online-вебинаров и 1600 практических игр Cash Flow ("Крысиные бега"). 
          p.speaker__text 
            strong За 10 лет,
            | у него 
            strong прошли обучение более 15 000 человек.
          p.speaker__text 
            strong Алексей проходил обучение
            | и продолжает совершенствовать свои знания и навыки
            strong у ведущих мировых тренеров
            | (Брайан Трейси, Роберт Кийосаки, Энтони Роббинс, Джек Кенфилд и многих других). На протяжении 2012-2013 гг. сотрудничал со “Школой бизнеса и личностно развития Алекса Яновского” в качестве ведущего онлайн-уроков и директора сети филиалов по всему миру.
          p.speaker__text 
            strong В бизнесе уже более 20 лет.
            | Имеет опыт управления оптовой компанией, построения филиальных сетей корпораций, а также создания активных и пассивных доходов, Алексей делиться своими знаниями - наиболее ценными для каждого, кто хочет применить полученные знания в реальной жизни.              
          .speaker__footer
            button.button.button_main.speaker__button ОСТАВИТЬ ЗАЯВКУ
        